:root{

  //Couleurs de base
  --color-white: #fff;
  --color-black: #000;

  //Couleurs du projet
  --color-link: #202C4A;
  --color-link-hover: #E53847 ;
  --color-link-visited: #8B8B97;
  --color-active: #16E012;
  --color-focus: #9BFBFB;

  //Couleurs de bg
  --color-bg-primary: #FFF;
  --color-bg-secondary: #F0F0F0;
  --color-bg-tertiary: #202C4A;

  //Couleurs du texte
  --color-text-primary: #000;
  --color-text-secondary: #FFF;


}